@font-face {
    font-family: Dosis;
    src: url('fonts/Dosis-Regular.otf');
}


body {
    font-family: Dosis;
    line-height: 1;
    color: #444;
    font-size: 32px;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 430px) {
    body {
        font-size: 24px;
    }
}

#main-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
}

#hello {
    background-color: #fff;
    text-align: center;
    padding-bottom: 0;
}

#hello h1 {
    font-size: 400%;
}

#skin {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}




.link-col {
    text-align: center;
    padding-top: 30px;
}

.link-icon {
    display: inline;
    width: 32px;
    height: auto;
    margin-right: 10px;
    vertical-align: baseline;
    position: relative;
}

#link-row {
    margin-bottom: 200px;
}


#skills span {
    white-space: nowrap;
}

@media (max-width: 500px) {
    #skills {
        font-size: 80%;
    }
}




.project-row {
    color: #444;
    margin-top: 40px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-row:hover {
    color: #337ab7;
    transition: 0.4s;
}


div .project-thumb {
    background-size: 100% auto;
    background-position: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 150px;
}

.project-desc {
    text-align: left;
}

.project-desc.right-align {
    text-align: right;
}

@media (max-width: 768px) {
    .project-desc, .project-desc.right-align {
        text-align: center;
    }
    
    div.project-thumb {
        height: 250px;
    }
}


div.project-notes {
    color: #444;
    font-size: 60%;
    margin-top: 12px;
}


div.project-notes:hover {
    color: #444;
}
