@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway-Regular.ttf');
}


body {
    font-family: Raleway;
    line-height: 1;
    font-size: 18px;
}

a {
    color: #F03C09;
}
a:hover {
    text-decoration: none;
    color: #df0028;
}
a:focus {
    color: #df0028;
}

#main-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .row.project-row {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


#hello {
    background-color: #fff;
    text-align: center;
    padding-bottom: 0;
}

#hello h1 {
    font-size: 250%;
    margin-top: 20px;
}

#skin {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}




.link-col {
    text-align: center;
    margin-bottom: 6px;
}

.link-icon {
    display: inline;
    width: 20px;
    height: auto;
    margin-right: 4px;
    vertical-align: baseline;
    position: relative;
    opacity: 0.7;
}


#cv-link {
    margin-top: 30px;
    border: solid 2px #f95b3d;
    padding: 5px 20px;
    color: #f95b3d;
    font-size: 115%;
    border-radius: 100px;
}
#cv-link:hover {
    background-color: #f95b3d;
    color: #fff;
    transition: 0.2s;
}

#link-row {
    margin-bottom: 200px;
}


#portrait {
    width: 100%;
    max-width:200px;
    margin-bottom: 20px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    border: solid 3px #222;
}


.flower-separator-row {
    margin-top: 70px;
    margin-bottom: 150px;
}

#flower-separator {
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}   



.project-row {
    color: #444;
    margin-top: 140px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-row:hover {
    color: #f95b3d;
    transition: 0.4s;
}


div .project-thumb {
    background-size: 100% auto;
    background-position: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    height: 150px;
}

.project-desc {
    text-align: left;
}

.project-desc.right-align {
    text-align: right;
}

.attribution {
    display: block;
    font-size: 80%;
}

@media (max-width: 768px) {
    .project-desc, .project-desc.right-align {
        text-align: center;
    }
    
    div.project-thumb {
        height: 250px;
    }
}


div.project-notes {
    color: #444;
    font-size: 85%;
    margin-top: 12px;
}


div.project-notes:hover {
    color: #444;
}


#cell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    user-select: none;
}

.cell-row {
    margin-top: 150px;
    margin-bottom: 100px;
}
